/* 
* 1. Use descriptive names instead of explaining your classes via comments because of lack of descriptive name 
* 2. Use global css variables here as well
* Approach: Create a CSS file (styles.css) containing the general styles and global variables and reuse them everywhere 
*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  background-color: #000000;
}

html {
  scroll-behavior: smooth;
}

/* Utility class for headings, buttons, UI text */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* Utility class for paragraphs, articles, and body text */
.font-merriweather {
  font-family: "Merriweather", serif;
}

/* Remove underline from all links globally */
a {
  text-decoration: none;
}
